<!DOCTYPE html>
<html>
<% include ../partials/header %>

<body>
    <% include ../partials/navbar %>

    <div class="container">
        <div class="row">

            <div class="col-sm-9">
                <h2><strong>Feedings</strong></h2>
            </div>

            <div class="col-sm-3">
                <a href="/feeding/addFeedings" class="btn btn-primary"> Add Feedings</a>
                <button id="showExport" class="btn btn-primary"> Export Data</button>

            </div>
        </div>
        <div id="exportData">
            <h5 style="text-align: center;">Export Data</h5>
            
            <div class="row justify-content-center">
                <div class="col-sm-12">
                    <p style="text-align: center;"><strong>Select date range: </strong> </p>
                </div>
                <form method="POST" action="/feeding/export">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label for="fromDate"> From Date</label>
                                <input type="date" class="form-control" id="fromDate" placeholder="Enter From Date"
                                    name="fromDate">
                            </div>
                            <div class="col-sm-6">
                                <label for="ToDate"> To Date</label>
                                <input type="date" class="form-control" id="toDate" placeholder="Enter To Date"
                                    name="toDate">
                            </div>
                        </div>

                    </div>
                    <p style="text-align: center;"> Or </p>
                    <div class="form-check ">
                        <div class="row">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-4">
                                <input type="checkbox" class="form-check-input" id="allData" name="allData">
                                <label class="form-check-label" for="allData"> All Data</label>
                            </div>

                        </div>

                    </div>
                    <div class="form-group">
                        <p><strong>Select File Type :</strong></p>
                        <div class=" justify-content-center">
                            <input type="radio" id="csvFile" name="fileType" value="csvFile" required>
                            <label for="csvFile">CSV</label><br>
                            <input type="radio" id="excelFile" name="fileType" value="excelFile" required>
                            <label for="excelFile">Excel</label><br>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <button id="hideExport" class="btn btn-primary">Close</button>
                </form>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-sm-12">
                <table id="feedings" class="table table-bordered table-striped table-hover  table-responsive-md">

                    <thead>
                        <tr>
                            <td><strong> Date and Time</strong></td>
                            <td><strong> Animal</strong></td>
                            <td><strong> Food </strong></td>
                            <td><strong> Medicine </strong></td>
                            <td><strong> Goal Weight of Animal</strong></td>
                            <td><strong> Actual Weight of Animal</strong></td>
                            <td><strong> Amount of Food Fed</strong></td>
                            <td><strong> Left Over of Food </strong></td>
                            <td><strong> Comments</strong></td>
                            <td><strong> Weather Conditions</strong></td>
                            <td><strong> keeper Name </strong></td>
                            <td><strong> Edit </strong></td>
                            <td><strong>Delete</strong></td>

                        </tr>
                    </thead>

                    <% for(var i=0; i < data.length; i++) { %>
                    <tr>
                        <td><%=data[i].dateTime.toLocaleDateString("en-US")%></td>
                        <td><%=data[i].animalSpecies%>(<%=data[i].animalNickName%>)</td>
                        <td><%=data[i].food%></td>
                        <td><%=data[i].medicine%></td>
                        <td><%=data[i].goalWeightOfAnimal%>g</td>
                        <td><%=data[i].actualWeightOfAnimal%>g</td>
                        <td><%=data[i].amountOfFoodFed%>g</td>
                        <td><%=data[i].leftoverFood%>g</td>
                        <td><%=data[i].comments%></td>
                        <td><%=data[i].weatherConditions%></td>
                        <td><%=data[i].keeperName%></td>

                        <td><a href="/feeding/updateFeedings?id=<%= data[i]._id %>"><img
                                    src="https://img.icons8.com/android/24/000000/edit.png" /></a> </td>

                        <td><a href="/feeding/deleteFeedings?id=<%= data[i]._id %>"
                                onclick="return confirm('Are you sure you want to delete this?')"><img
                                    src="https://img.icons8.com/fluent-systems-filled/24/000000/trash.png" /></a></td>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>

    </div>

    <% include ../partials/scripts%>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#exportData').hide();
            $('#feedings').DataTable({
                responsive: true,
                order: [[0, "desc"]]
            });
            $("#showExport").click(function () {
                $("#exportData").show();
            });
            $("#hideExport").click(function () {
                $("#exportData").hide();
            });
        });

    </script>

    <style>
        #feedings {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #feedings thead {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            font-style: normal;
            background-color: rgb(131, 253, 131);
            color: black;
        }
    </style>

</body>

</html>